*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #BBBBBB;
}
#container{
    background: #fff;
    width: 650px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -325px;
    margin-top: -290px;
    padding: 32px;
    border-radius: 4px;
}
#container .form-title{
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 32px;
}
#contact-form label{
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
#contact-form .input-box{
    border: none;
    padding: 12px;
    width: 100%;
    background: #f7f7f7;
}
#contact-form .input-box-service{
    font-weight: bold;
}
#contact-form .input-box-message{
    background: #fff;
}

#contact-form .form-input{
    margin: 8px 0;
    background: #f7f7f7;
    padding: 4px;
    border-radius: 8px;
}
#contact-form .input-email,
#contact-form .input-phone{
    width: 49%;
    display: inline-block;
}
#contact-form .input-phone{
    float: right;
}
#contact-form .input-message{
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 16px;
}
#contact-form .btn-sub{
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    border: none;
    background: #333;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.9;
}
#contact-form .btn-sub:hover{
    opacity: 1;
}
.btn-sub i{
    margin-left: 8px;
}
.input-box:focus{
    outline: none;
}